*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navigation ul{
    background-color: #15f68b;
    list-style-type: none;
    text-align: center;
  overflow: hidden; 
  



}

#navigation li{
 float: left; 
   width: 150px;
   display: inline-block ;
  

   

}
#navigation a{
color: white;
text-decoration: none;
display: block;


}
#navigation a:hover{
    background-color: white;
    color: black;


    
}

.submenu li{
    display: none;
 }
 #navigation li{
     position: relative;


 }
 .submenu{
     position: absolute;
     left: 0;
     display: none;
     

 }
 #navigation li:hover .submenu{
     display: block;
 }